.table{
    margin-top: 90px;
    width: 40%;
    background-color: rgb(203, 182, 226);
    border-radius: 5px;
}

.mostrarBotonCheckout{
        border-radius: 6px;
        height: 38px;
        width: 235px;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-variant: normal;
        background-color: $main-color;
        color: white;
        border: 0px;
    }
    .mostrarBotonCheckout:hover{
        background-color: #b192d4;
    }
    .mostrarBotonCheckout:active{
        background-color: #976dc5;
    }
#noSeAgregoNingunManga{
    margin-top: 50vh;
}
