.titleBackgroundHunterXHunter{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 300px;
    background-image: url(../images/titleBackgrounds/hunterXHunter.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}